@use 'sass:math';

$slideshow-navbar-height: 2em;

table:not(.table-no-style):not(.stack-trace) {
	tr:nth-child(even) { background-color: $accentlighter; }
	th, td:first-child { background-color: $accentlight; }

	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5rem;
	border: 1px solid $accentcolour;
	border-collapse: collapse;

	td, th {
		border-top: 1px solid $accentcolour;
		padding: .5rem;
		font-size: 1.3em;
	}

	th {
		font-weight: normal;
		text-align: center;
	}

	.lborder { border-left: 1px solid $accentcolour; }
	.align-right { text-align: right; }
}

.stack-trace {
	margin-left: 2rem;
	font-family: $code-font;

	&-text, &-info { margin-block-end: 0; }
	&-text { font-weight: bold }
	&-func { color: #A9DC76; }
	&-file { color: #FFD866; }
	&-line { color: #AB9DF2; }
}

.single-row-table {
	border: 1px solid $accentcolour;
	border-collapse: collapse;

	td:nth-child(odd) { background-color: white; }
	td:nth-child(even) { background-color: $accentlighter; }
	td { border: 1px solid $accentcolour; }
}

.table {
	&-label {
		display: block;
		margin-bottom: .5rem;

		text-align: center;
		font-size: 1.2em;
		color: $accentcolour;
	}

	&-wrapper {
		@include scrollbar;
		margin-bottom: 2rem;
		overflow-x: auto;
	}
}



.tab {
	display: flex;
	overflow: hidden;
	border: 1px solid $accentcolour;
	background: $accentlighter;

	button {
		outline: none;
		border: none;
		padding: 1rem;

		background: $accentlighter;
		font-size: 1.5rem;

		transition: background .5s, color .5s;
		cursor: pointer;

		&:hover {
			background: $accentcolour;
			color: white;
		}
	}

	.selected-button {
		background: $accentcolour;
		color: white;
	}

	&-wrapper {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	&-container { position: relative; }
	&-content { border: 1px solid $accentcolour; }
}

iframe {
	margin: 0 auto;
	border: none;
}

.yt-two-videos-container .yt-video-container { padding-top: Max(9rem, #{math.div($video-width-16-to-9, 2)}); }

@mixin yt-base-video-container {
	width: Max(16rem, 100%);
	position: relative;
	margin: 1rem auto;
}

.yt-video {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

	&-container {
		@include yt-base-video-container;
		padding-top: Max(9rem, #{$video-width-16-to-9});

		&-half {
			@include yt-base-video-container;
			padding-top: Max(4.5rem, #{math.div($video-width-16-to-9, 2)});
			height: 0;
		}
	}
}

.embedded-doc {
	width: 100%;
	height: 60rem;
}

.iframe-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slideshow {
	&-slides {
		position: relative;
		display: grid;
		place-items: center;
		grid-template-areas: "inner";

		img {
			opacity: 0;
			width: 100%;
			grid-area: inner;
			transition: opacity 1s;
		}

		.before, .after {
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 1;
			padding: 0 .5em;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			color: white;
			font-size: 2rem;
			transition: transform .5s;
			cursor: pointer;
			mix-blend-mode: difference;

			&:hover {
				box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
				mix-blend-mode: normal;
			}
		}

		.before { left: 0; }
		.after { right: 0; }
		.active { opacity: 1; }
	}

	&-navbar {
		width: 100%;
		height: $slideshow-navbar-height;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		&:hover { cursor: pointer; }

		div {
			height: .6em;
			width: .6em;

			border-radius: 50%;
			background: lightgrey;
			transition: background .2s;

			&:hover { background: $accentcolour; }

			& + div { margin-left: 1em; }
		}

		.active { background: $accentcolour; }
	}
}



img:hover { cursor: pointer; }

#image-preview {
	position: fixed;
	inset: 0;
	z-index: 9998;

	width: 100%;
	height: 100%;

	display: none;
	align-items: center;
	justify-content: center;

	background: rgba(0, 0, 0, .5);
}

#image-preview-container {
	position: absolute;
	inset: 5rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

/*.dialog {
	position: absolute;
	z-index: 9999;

	background: white;
	box-shadow: 10px 10px 2em rgba(0, 0, 0, .5);

	p { padding: 1rem; }

	button {
		border: 1px solid $accentcolour;
		min-width: 6rem;
		font-size: var(--text-size);
	}

	input {
		padding-right: 1rem;
		padding-left: 1rem;
	}

	h5 {
		display: block;
		margin-bottom: 0;
		padding: .5rem;

		background: $accentblack;
		text-align: center;
		font-size: calc(var(--text-size) * 1.1);
	}

	div:not(.dialog-element) {
		display: flex;
		gap: 2rem;
		padding: 1rem;
		justify-content: center;
	}

	.dialog-element {
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.file-input-control {
		gap: .55rem;

		button { width: 11.5rem; }

		input {
			&[type=file] { display: none; }
			&[type=text] {
				width: 100%;
				padding: 0;
				font-size: var(--text-size);
			}
		}
	}
}*/

$bg-colour: #2D2A2E;
$bg-darker: darken($bg-colour, 10%);
$bg-accent: lighten($bg-colour, 10%);
$fg-colour: #FCFCFA;
$border: 1px solid var(--bg-border);

.dialog-spaced > * + * { margin-top: 1rem; }

dialog {
	position: absolute;
	z-index: 98;
	top: 50%;
	left: 50%;
	bottom: auto !important;
	right: auto !important;

	display: none;
	flex-direction: column;
	justify-content: space-between;

	border: $border;
	box-shadow: 10px 10px 2em rgba(0, 0, 0, .5);
	padding: 0;
	max-width: 90vw;
	min-width: 50ch;
	width: fit-content;

	background: $accentblack;
	color: $fg-colour;
	font-size: var(--text-size);

	--title-bar-colour: #{$accentlight};
	--title-bar-text-colour: #{$accentdarker};
	--svg-button-bg: var(--title-bar-colour);
	--svg-button-hover-bg: #{$accentcolour};

	&::backdrop { background: rgba(0, 0, 0, .5); }
	& > *, fieldset { padding: .5rem; }
	fieldset + fieldset { margin-top: 1rem; }

	fieldset {
		width: fit-content;
		border: 1px solid var(--accentlighter);
	}

	select {
		border: none;
		background-color: var(--accentlight);
		color: var(--accentdarker);
		font-size: var(--text-size);
		transition: background-color .5s, color .5s;

		&:hover {
			background: var(--accentcolour);
			color: white;
		}
	}

	input {
		&[disabled] { background: lightgrey; }
		&[type=number] {
			width: 5rem;
			border: none;
			font-size: var(--text-size);
		}
	}

	pre {
		word-wrap: break-word;
		overflow-x: auto;
		white-space: pre-wrap;
	}

	h5 {
		display: block;
		margin-bottom: 0;
		padding: .5rem;

		background: $accentblack;
		text-align: center;
		font-size: calc(var(--text-size) * 1.1);
	}

	.file-input-control {
		gap: .55rem;


		button { width: 11.5rem; }

		input {
			&[type=file] { display: none; }
			&[type=text] {
				font-size: var(--text-size);
				width: 100%;
				padding: 0;
			}
		}
	}

	.dialog {
		&-close-button, &-close-button * { height: 100%; }

		&-content {
			display: flex;
			flex-direction: column;
			gap: .75rem;

			padding: 1rem 1rem .5rem;
			overflow-y: auto;

			p { margin-block: 0; }
			p + p { margin-block-start: -.5rem; }
		}

		&-controls {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			padding: 1rem;
		}

		&-title {
			-webkit-user-select: none;
			-webkit-user-drag: element;

			position: relative;
			z-index: 99;

			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			margin: 0;
			padding: 0;
			width: 100%;
			height: 2.5rem;

			background: var(--title-bar-colour);
			text-align: center;
			color: var(--title-bar-text-colour);

			&-content {
				position: absolute;
				top: 50%;
				left: 50%;

				width: fit-content;
				transform: translate(-50%, -50%);
			}

			svg.close-button-icon {
				pointer-events: auto;
				background: var(--svg-button-bg);
				&:hover { background: var(--svg-button-hover-bg); }
			}

			* { fill: var(--title-bar-text-colour); }
		}
	}
}


.form-wrapper {
	display: flex;
	margin-top: 3rem;

	align-content: center;
	justify-content: center;
}

form {
	display: flex;
	margin: 0 auto;
	gap: 1rem;
	flex-direction: column;

	label { margin-bottom: -.75rem; }

	input {
		border: 1px solid $accentcolour;
		font-size: var(--text-size);
		padding-inline: 2px;

		&[disabled] { background-color: #ddd; }
		&[type=submit] {
			@include button;
			min-width: 7rem;
		}
	}

	select, option {
		background: $accentlight;
		color: $accentdarker;
		border: 1px solid $accentcolour;
		font-size: var(--text-size);
	}

	.disabled { color: #aaa; }

	.submit-wrapper {
		display: flex;
		margin-top: 1rem;
		justify-content: flex-end;
	}

	.row {
		display: flex;
		flex-direction: row;
	}
}

.danger-button {
	background: $accentred;
	color: antiquewhite;

	&:hover { background: $accentdarker; }
}

@media (max-width: 800px) {
	table th, table td {
		font-size: 1rem;
		padding: .2rem;
	}

	.yt-two-videos-container .yt-video-container { padding-top: max(9rem, #{$video-width-16-to-9}); }
	.yt-video-container-half { padding-top: max(9rem, #{$video-width-16-to-9}); }
	#image-preview-container, #dialog-inner { inset: 1rem; }
}

